<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:C:/Libraries/GIT/java-projects/JavaShutDownRemaster/sqlite.sqlite3</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <mapping class="model.sql.jpa_hibernate.ActionEntity"/>
        <mapping class="model.sql.jpa_hibernate.ScheduledActionEntity"/>
        <mapping class="model.sql.jpa_hibernate.ScheduledActionParameterEntity"/>
        <mapping class="model.sql.jpa_hibernate.ScheduledActionStatusEnumEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
